{% extends 'wizuber/action/base.html' %}

{% block main %}
    {% with form=action.get_form %}
        <div class="form-row">
            <div class="form-group col-auto">
                {% include 'wizuber/signup_form_field.html' with field=form.size %}
            </div>
            <div class="form-group col-auto">
                {% include 'wizuber/signup_form_field.html' with field=form.material %}
            </div>
        </div>
    {% endwith %}

    <button type="submit" class="btn btn-outline-primary">Add candle</button>
{% endblock %}

{% block bottom %}
    {% if wish.candle_artifacts.all %}
        <div class="row py-2">
            <div class="col">
                <table class="table table-sm table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Size</th>
                        <th scope="col">Material</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for artifact in wish.candle_artifacts.all %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ artifact.size | title }}</td>
                            <td>{{ artifact.material | title }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
