<div class="row py-2">
    <div class="col">
        <form action="{% url 'wizuber:handle-wish-action' wish.pk action.get_action_name %}" method="POST">
            {% csrf_token %}

            <div class="form-row">
                <div class="col-auto">
                    <div class="input-group my-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">£</span>
                        </div>
                        {# TODO check user balance and disable button #}
                        <input type="text" class="form-control" value="{{ wish.price }}" aria-label="price amount"
                               disabled>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-success">Pay for wish</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
