{% extends 'wizuber/action/base.html' %}

{% block main %}

    {{ action.get_form.as_p }}
    <button type="submit" class="btn btn-outline-primary">Add pentacle</button>

{% endblock %}

{% block bottom %}

    {% if wish.pentacle_artifacts %}
        <div class="row py-2">
            <div class="col">
                <table class="table table-sm table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for artifact in wish.pentacle_artifacts %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ artifact.name }}</td>
                            <td>{{ artifact.description | truncatechars:60 }}</td>
                            <td>{{ artifact.size | title }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}
