{% extends 'wizuber/action/base.html' %}

{% block main %}
    {% if not wish.spirit_artifact %}
        {% with form=action.get_form %}
            <div class="form-row">
                <div class="form-group col-auto">
                    {% include 'wizuber/signup_form_field.html' with field=form.spirit %}
                </div>
            </div>
        {% endwith %}

        <button type="submit" class="btn btn-outline-primary">Add spirit</button>
    {% endif %}
{% endblock %}

{% block bottom %}
    {% if wish.spirit_artifact %}
        <div class="row py-2">
            <div class="col">
                <table class="table table-sm table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Spirit Username</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="align-middle" scope="row">1</th>
                        <td class="align-middle">{{ wish.spirit_artifact.spirit.username }}</td>
                        <td class="align-middle">
                            <form action="{% url 'wizuber:delete-artifact' wish.spirit_artifact.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
