{% extends 'wizuber/action/base.html' %}

{% block main %}
    {% if not wish.spirit_artifact %}
        {{ action.get_form.as_p }}
        <button type="submit" class="btn btn-outline-primary">Add spirit</button>
    {% endif %}
{% endblock %}

{% block bottom %}
    {% if wish.spirit_artifact %}
        <div class="row py-2">
            <div class="col">
                <table class="table table-sm table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Spirit Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ wish.spirit_artifact.spirit.username }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
