{% extends 'wizuber/action/base.html' %}

{% block main %}

    <div class="form-row">
        <div class="col-auto">
            <div class="input-group">
                <input type="text" class="form-control" value="{{ wish.spirit_artifact.spirit }}"
                       aria-label="spirit username" disabled>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary">Assign to spirit</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
