{% extends 'wizuber/action/base.html' %}

{% block main %}

    <div class="form-row">
        <div class="col-auto">
            <div class="input-group">
                <input type="text" class="form-control" value="{{ user.teacher }}" aria-label="price amount"
                       disabled>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary">Assign back to teacher</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
