{% extends 'wizuber/base.html' %}

{% block content %}
    You're at the wizuber index.
    {% if user.is_authenticated %}
        <p>Hello, <a href="{% url 'wizuber:account' %}">{{ user.username }}</a></p>
        <p><a href="{% url 'wizuber:logout' %}">logout</a></p>
    {% else %}
        <p>You are not logged in: <a href="{% url 'wizuber:login' %}">login</a>
            or <a href="{% url 'wizuber:signup' %}">register</a></p>
    {% endif %}
    <p><a href="{% url 'wizuber:wizards' %}">View all wizards</a></p>
{% endblock %}
