{% extends 'wizuber/base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <h2>Sign up</h2>

    <form method="post" action="{% url 'wizuber:signup' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-row">
            <div class="form-group col-lg-6">
                {% with field=form.username %}
                    <label for="{{ field.auto_id }}">{{ field.label }}{{ form.label_suffix }}</label>
                    <input type="text" name="{{ field.html_name }}" class="form-control"
                           id="{{ field.auto_id }}" aria-describedby="{{ field.auto_id }}_help"
                            {% if field.field.required %} required {% endif %}
                           {% if field.field.max_length %}maxlength="{{ field.field.max_length }}"{% endif %}
                           autofocus placeholder="Enter username">
                    {% if field.help_text %}
                        <small id="{{ field.auto_id }}_help"
                               class="form-text text-muted">{{ field.help_text | safe }}</small>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="form-group col-lg-6">
                {% with field=form.email %}
                    <label for="{{ field.auto_id }}">{{ field.label }}{{ form.label_suffix }}</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="email" name="{{ field.html_name }}" class="form-control"
                               id="{{ field.auto_id }}" aria-describedby="{{ field.auto_id }}_help"
                                {% if field.field.required %} required {% endif %}
                               {% if field.field.max_length %}maxlength="{{ field.field.max_length }}"{% endif %}
                               placeholder="Enter email">
                    </div>
                    {% if field.help_text %}
                        <small id="{{ field.auto_id }}_help"
                               class="form-text text-muted">{{ field.help_text | safe }}</small>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.first_name %}
                    <label for="{{ field.auto_id }}">
                        {{ field.label }}{{ form.label_suffix }}</label>
                    <input type="text" name="{{ field.html_name }}" class="form-control"
                           id="{{ field.auto_id }}" aria-describedby="{{ field.auto_id }}_help"
                            {% if field.field.required %} required {% endif %}
                           {% if field.field.max_length %}maxlength="{{ field.field.max_length }}"{% endif %}
                           autofocus placeholder="Enter first name">
                    {% if field.help_text %}
                        <small id="{{ field.auto_id }}_help"
                               class="form-text text-muted">{{ field.help_text | safe }}</small>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="form-group col-md-6">
                {% with field=form.last_name %}
                    <label for="{{ field.auto_id }}">{{ field.label }}{{ form.label_suffix }}</label>
                    <input type="text" name="{{ field.html_name }}" class="form-control"
                           id="{{ field.auto_id }}" aria-describedby="{{ field.auto_id }}_help"
                            {% if field.field.required %} required {% endif %}
                           {% if field.field.max_length %}maxlength="{{ field.field.max_length }}"{% endif %}
                           autofocus placeholder="Enter last name">
                    {% if field.help_text %}
                        <small id="{{ field.auto_id }}_help"
                               class="form-text text-muted">{{ field.help_text | safe }}</small>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.middle_name %}
                    <label for="{{ field.auto_id }}">
                        {{ field.label }}{{ form.label_suffix }}</label>
                    <input type="text" name="{{ field.html_name }}" class="form-control"
                           id="{{ field.auto_id }}" aria-describedby="{{ field.auto_id }}_help"
                            {% if field.field.required %} required {% endif %}
                           {% if field.field.max_length %}maxlength="{{ field.field.max_length }}"{% endif %}
                           autofocus placeholder="Enter middle name">
                    {% if field.help_text %}
                        <small id="{{ field.auto_id }}_help"
                               class="form-text text-muted">{{ field.help_text | safe }}</small>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.password1 %}
                    <label for="{{ field.auto_id }}">{{ field.label }}{{ form.label_suffix }}</label>
                    <input type="password" name="{{ field.html_name }}" class="form-control"
                           id="{{ field.auto_id }}" aria-describedby="{{ field.auto_id }}_help"
                            {% if field.field.required %} required {% endif %}
                           {% if field.field.max_length %}maxlength="{{ field.field.max_length }}"{% endif %}
                           autofocus placeholder="password">
                    {% if field.help_text %}
                        <small id="{{ field.auto_id }}_help"
                               class="form-text text-muted">{{ field.help_text | safe }}</small>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="form-group col-md-6">
                {% with field=form.password2 %}
                    <label for="{{ field.auto_id }}">{{ field.label }}{{ form.label_suffix }}</label>
                    <input type="password" name="{{ field.html_name }}" class="form-control"
                           id="{{ field.auto_id }}" aria-describedby="{{ field.auto_id }}_help"
                            {% if field.field.required %} required {% endif %}
                           {% if field.field.max_length %}maxlength="{{ field.field.max_length }}"{% endif %}
                           autofocus placeholder="password">
                    {% if field.help_text %}
                        <small id="{{ field.auto_id }}_help"
                               class="form-text text-muted">{{ field.help_text | safe }}</small>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
{% endblock %}
