{% load widget_tweaks %}
{% with widget=field.field.widget form=field.form %}
    {{ field.label_tag }}
    {% if form.is_bound %}
        {% if field.errors %}
            {% render_field field class="form-control is-invalid" placeholder=placeholder %}
            {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% else %}
            {% render_field field class="form-control is-valid" placeholder=placeholder %}
        {% endif %}
    {% else %}
        {% render_field field class="form-control" placeholder=placeholder %}
    {% endif %}
    {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
{% endwith %}
