{% extends 'wizuber/base.html' %}

{% block content %}
    <div class="row py-2">
        <div class="col">
            <h5>Creator: {{ wish.creator }}</h5>
        </div>
    </div>

    <div class="row py-2">
        <div class="col">
            <h5>Wizard:
                {% if wish.owner %}
                    <a href="{{ wish.owner.get_absolute_url }}">{{ wish.owner }}</a>
                {% else %}
                    <span class="badge badge-secondary">Sorry, the wizard is not assigned yet.</span>
                {% endif %}
            </h5>
        </div>
    </div>

    <div class="row py-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Description:</h5>
                    {{ wish.description | linebreaks }}
                </div>
            </div>
        </div>
    </div>

    <div class="row py-2">
        <div class="col">
            <h5>Status: <span class="badge badge-success">{{ wish.status }}</span></h5>
        </div>
    </div>

    <div class="row py-2">
        <div class="col">
            <h5>Price: {{ wish.price }}</h5>
        </div>
    </div>

    {% if actions %}
        <h2 class="pt-4">Actions:</h2>
        <hr>

        {% for action in actions %}
            {% include action.get_template_name with form=action.form_class %}
        {% endfor %}
    {% endif %}

    {% if wish.owner == user and wish.status != wish.get_statuses.READY.name %}
        {# TODO remove fullfil method #}
        <div class="row py-2">
            <div class="col">
                <form action="{% url 'wizuber:fulfill-wish' wish.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn badge-warning float-right">Fulfill wish</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
