{% extends 'wizuber/base.html' %}

{% block content %}
    <div class="table-responsive-lg">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Creator</th>
                <th scope="col">Wizard</th>
                <th scope="col">Status</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ wish.creator }}</td>
                <td>
                    {% if wish.owner %}
                        <a href="{{ wish.owner.get_absolute_url }}">{{ wish.owner }}</a>
                    {% else %}
                        <span class="badge badge-secondary">––––</span>
                    {% endif %}
                </td>
                <td><span class="badge badge-success">{{ wish.status }}</span></td>
                <td>{{ wish.price }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row py-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Description:</h5>
                    {{ wish.description | linebreaks }}
                </div>
            </div>
        </div>
    </div>

    {% if actions %}
        <h2 class="pt-4">Actions:</h2>
        <hr>

        {% for action in actions %}
            <span class="font-weight-bold text-success">{{ forloop.counter }}.</span>
            {{ action.get_action_description }}:
            {% include action.get_full_template_name %}
            <hr>
        {% endfor %}
    {% endif %}

    {% if wish.owner == user and wish.status != wish.get_statuses.READY.name %}
        {# TODO remove fullfil method #}
        <div class="row py-2">
            <div class="col">
                <form action="{% url 'wizuber:fulfill-wish' wish.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn badge-warning float-right">Fulfill wish</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
