{% extends 'wizuber/base.html' %}

{% block title %}
    Wish Details
{% endblock %}

{% block content %}
    <h2>Wish Details</h2>

    <hr>

    <div class="row py-2">
        <div class="col">
            <h5>Creator: {{ wish.creator }}</h5>
        </div>
    </div>

    <div class="row py-2">
        <div class="col">
            <h5>Wizard:
                {% if wish.owner %}
                    <a href="{% url 'wizuber:detail-wizard' wish.owner.pk %}">{{ wish.owner }}</a>
                {% else %}
                    <span class="badge badge-secondary">Sorry, the wizard is not assigned yet.</span>
                {% endif %}
            </h5>
        </div>
    </div>

    <div class="row py-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Description:</h5>
                    {{ wish.description | linebreaks }}
                </div>
            </div>
        </div>
    </div>

    <div class="row py-2">
        <div class="col">
            <h5>Status: <span class="badge badge-success">{{ wish.status }}</span></h5>
        </div>
    </div>

    {% if wish.owner == user and wish.status != wish.get_statuses.READY.name %}
        <div class="row py-2">
            <div class="col">
                <form action="{% url 'wizuber:fulfill-wish' wish.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn badge-warning float-right">Fulfill wish</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
