{% extends 'wizuber/base.html' %}

{% block content %}
    {% if user.is_authenticated and user.can_create_wish %}
        <a class="btn btn-outline-success mb-4" href="{% url 'wizuber:create-wish' %}" role="button">Create new wish</a>
    {% endif %}

    {% if wishes %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Wish description</th>
                <th scope="col">Wizard</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for wish in wishes %}
                <tr>
                    <th scope="row"><a href="{{ wish.get_absolute_url }}">{{ forloop.counter }}</a></th>
                    <td>{{ wish.description | truncatechars:90 }}</td>
                    <td>{{ wish.owner | default_if_none:"----" }}</td>
                    <td>{{ wish.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-dark" role="alert">
            You have no wishes yet.
        </div>
    {% endif %}

    {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.number > 2 %}
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                {% endif %}
                {% if page_obj.number > 3 %}
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                {% endif %}
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="#">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="#">{{ page_obj.next_page_number }}</a></li>
                {% endif %}
                {% if page_obj.number < paginator.num_pages|add:"-2" %}
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                {% endif %}
                {% if page_obj.number < paginator.num_pages|add:"-1" %}
                    <li class="page-item"><a class="page-link" href="#">{{ paginator.num_pages }}</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}
