{% extends 'wizuber/base.html' %}

{% block content %}
    {% if user.is_authenticated and user.can_create_wish %}
        <a class="btn btn-outline-success mb-4" href="{% url 'wizuber:create-wish' %}" role="button">Create new wish</a>
    {% endif %}

    {% if wishes %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Wish description</th>
                <th scope="col">Wizard</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for wish in wishes %}
                <tr>
                    <th scope="row"><a href="{% url 'wizuber:detail-wish' wish.pk %}">{{ forloop.counter }}</a></th>
                    <td>{{ wish.description | truncatechars:90 }}</td>
                    <td>{{ wish.owner | default_if_none:"----" }}</td>
                    <td>{{ wish.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-dark" role="alert">
            You have no wishes yet.
        </div>
    {% endif %}
{% endblock %}
