{% extends 'wizuber/base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Wizuber!</h1>

        <hr class="py-2">

        <p class="lead">
            This is service that connects people with wizards. Here you can make all your dreams come true.
        </p>

        {% if user.is_authenticated and user.is_customer %}
            <a class="btn btn-outline-success btn-lg" href="{% url 'wizuber:create-wish' %}" role="button">
                Create New Wish!
            </a>
        {% endif %}
    </div>
{% endblock %}
