{% extends 'wizuber/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h2>Login</h2>

    <hr>

    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            <b>While processing your input these errors occurred:</b>
            {% for error in form.non_field_errors %}
                <br/>{{ error }}
            {% endfor %}
        </div>
    {% endif %}

    {% if next %}
        <div class="alert alert-warning" role="alert">
            {% if user.is_authenticated %}
                Your account doesn't have access to this page.
                To proceed, please login with an account that has access.
            {% else %}
                Please login to see this page.
            {% endif %}
        </div>
    {% endif %}

    <form method="post" action="{% url 'wizuber:login' %}">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-6">
                {% include 'wizuber/login_form_field.html' with field=form.username placeholder="Enter username" %}
            </div>
            <div class="form-group col-md-6">
                {% include 'wizuber/login_form_field.html' with field=form.password placeholder="Enter password" %}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
{% endblock %}
